.api {
	margin: auto; 
	padding: 1em;
	max-width: 700px;
	height: 116px;
	background-color: #e2e2e2;
	border: 0px;
	box-shadow: 0 0 2px #C9C9C9;
	border-radius: 5px 0px 0px 5px;
	display: inline-block;
} 

.api,
.appbrain-app {
	float:left;
}

.appbrain-app {
	background-color: #e2e2e2;
	font-size: 11px; 
	font-family: Arial, sans-serif;
	color: #555; 
	border-radius: 0px 5px 5px 0px;
}